@font-face {
    font-family: dosis;
    src: url(fonts/dosis/Dosis-Regular.otf);
}

@font-face {
    font-family: dosis;
    font-weight: bold;
    src: url(fonts/dosis/Dosis-Bold.otf);
}

.dosis {
  font-family: dosis;
}

.dosis-bold {
  font-family: dosis;
  font-weight: bold;
}

.eerie { background-color: #0D1B2A; }
.yankee { background-color: #1B263B; }
.light-grey { background-color: #CED3DC; }
.shadow { background-color: #777DA7; }
.eton { background-color: #94C9A9; }

.eerie-text { color: #0D1B2A; }
.yankee-text { color: #1B263B; }
.light-grey-text { color: #CED3DC; }
.shadow-text { color: #777DA7; }
.eton-text { color: #94C9A9; }




a {
    text-decoration: none;
    font-family: dosis;
}

ul {
    font-size: 24px;
    line-height: 40px;
    /*text-align: center;*/
    text-align: left;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: dosis;
    font-weight: bold;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: dosis;
    font-size: 18px;
    line-height: 30px;
}

main {
    flex: 1 0 auto;
}

.section {
    padding: 20px 0;
}

.content {
    padding: 30px 0;
    margin: 0 auto;
    width: 90%;
}